<div class="article">

  <div class="title">
    <h1 [innerHtml]="post.title"></h1>
    <div class="links">
      <a target="_blank" [href]="repoUrl()">
        <img src="https://unpkg.com/@mdi/svg@latest/svg/share.svg" />
      </a>
      <a target="_blank" [href]="mdBlobUrl()">
        <img src="https://unpkg.com/@mdi/svg@latest/svg/square-edit-outline.svg" />
      </a>
    </div>
  </div>

  <article class="dynamic-content" *ngIf="!!post.content" [innerHtml]="post.content"></article>
  <markdown class="dynamic-content"
    *ngIf="!!post.contentSource"
    [src]="post.contentSource"
  ></markdown>

</div>